:root {
    background-color: var(--cor-fundo);
    --cor-fundo: #ff9084;
}

.conteudo-total{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 60%;
    margin: auto;
}
.conteudo{
    padding: 5px;
    border: 2px solid black;
    width: 45%;
    text-align: center;
    margin: 1%;
}
a {
    text-decoration: none ;
    color: black;
}
#titulo{
    color: #e0205a;
    font-size: 60px;
    text-align: center;
    margin-right: 80px;
    margin-left: 100px;
}
